
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - WebUser</title>


    <title>Tempo Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Tempo - v4.6.0
    * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="index.html">MutantGYM</a></h1>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index" >Inicio</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Acerca de Nosotros</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Horarios</a></li>
                    <li><a class="nav-link scrollto" asp-controller="ProductoVista" asp-action="Index" >Producto</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index">Equipo</a></li>
                    <li><a class="nav-link scrollto " asp-controller="LoginPersonal" asp-action="Index">Acceder</a></li>
                    <li><a class="nav-link scrollto " asp-controller="Registrar" asp-action="Index">Registrate</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header>

    <main id="main"> 
                <section id="portfolio" class="portfolio">
                    <div class="container">

                        <div class="section-title">
                            <h2>Catalogo</h2>
                            <h3>Productos <span>MTGQ</span></h3>
                            <p>Encuentra los mejores suplementos, vitaminas y mucho más con los mejores.</p>
                            <p>"MutantGym te quiere Feliz!"</p>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul id="portfolio-flters">
                                    <li data-filter="*" class="filter-active">Todo</li>
                                    <li data-filter=".filter-app">Proteina</li>
                                    <li data-filter=".filter-card">Creatina</li>
                                    <li data-filter=".filter-web">Pre-Entreno</li>
                                </ul>
                            </div>
                        </div>

                        <div class="row portfolio-container">

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="assets/img/portfolio/portafolio-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Proteina Whey - Lab Nutrition</h4>
                                    <p>"Ganancia de masa múscular"</p>
                                    <a href="assets/img/portfolio/portafolio-1.jpg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="assets/img/portfolio/prework1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Pre-Workout - Optimun Nutrition</h4>
                                    <p>"Aumento de fuerza y energia"</p>
                                    <a href="assets/img/portfolio/prework1.jpg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="assets/img/portfolio/portafolio-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Proteina Whey - Optimun Nutrition</h4>
                                    <p>"Ganancia de masa múscular"</p>
                                    <a href="assets/img/portfolio/portafolio-2.jpg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="assets/img/portfolio/creatina1.jpeg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Creatina - Optimun Nutrition</h4>
                                    <p>"Aumento de ATP y velocidad de reconstrucción múscular"</p>
                                    <a href="assets/img/portfolio/creatina1.jpeg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="assets/img/portfolio/prework2.jpeg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Pre-Workout - Cellucor</h4>
                                    <p>"Aumento de fuerza y energia"</p>
                                    <a href="assets/img/portfolio/prework2.jpeg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="assets/img/portfolio/portafolio-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Proteina Whey - Dymatize</h4>
                                    <p>"Ganancia de masa múscular"</p>
                                    <a href="assets/img/portfolio/portafolio-3.jpg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="assets/img/portfolio/creatina2.jpeg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Creatina - Optimun Nutrition</h4>
                                    <p>"Aumento de ATP y velocidad de reconstrucción múscular"</p>
                                    <a href="assets/img/portfolio/creatina2.jpeg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="assets/img/portfolio/creatina3.jpeg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Creatina - Lab Nutrition</h4>
                                    <p>"Aumento de ATP y velocidad de reconstrucción múscular"</p>
                                    <a href="assets/img/portfolio/creatina3.jpeg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="assets/img/portfolio/prework3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Pre-Workout - SixStar</h4>
                                    <p>"Aumento de fuerza y energia"</p>
                                    <a href="assets/img/portfolio/prework3.jpg" data-gallery="portfolioGallery"
                                       class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details">
                                        <i class="bx bx-link"></i>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>MutantGYM</h3>
                        <p>
                            C. Sambaray, <br>
                            Quillabamba 08741 <br>
                            Perú<br><br>
                            <strong>Celular:</strong> +51 953 352 761<br>
                            <strong>Email:</strong> informes@mutantgym.pe<br>
                        </p>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Enlaces de busqueda</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Equipo</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Politicas de privacidad</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Nuestros Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Plan de alimentación</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Asesor de entrenamiento</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Asesor nutricional</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Venta de suplementos</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Suscribete para nuevas ofertas</h4>
                        <p>Te enviaremos nuevas promociones en membresias o productos</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Enviar">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container d-md-flex py-4">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>MutantGYM</span></strong>. Todos los derechos reservados, grupofuxia@tmg.pe
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->

                </div>
            </div>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>