@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<section id="Horarios" class="Horarios">
    <div class="container">

        <div class="row content">
            <div class="col-lg-6">

                <br><br><br><br><center><b><FONT SIZE=6 color="#F6C90E">Conóce Nuestros Horarios</FONT></b></center>

                <p>
                    <center><b><FONT SIZE=6>Lunes a Viernes</FONT></b></center>
                    <center><FONT SIZE=5>6:00 a.m. - 8:00 p.m.</FONT></center>
                </p>

                <p>
                    <center><b><FONT SIZE=6>Sabados y Domingos</FONT></b></center>
                    <center><FONT SIZE=5>6:00 a.m. - 10:00 p.m.</FONT></center>
                </p>

            </div>

            <div class="col-lg-6 pt-4 pt-lg-0">
                <div style="padding: 10px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31115.97342582266!2d-72.70706729635619!3d-12.87575241800572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91727d8c0f444a91%3A0x655505b559aa38fb!2sQuillabamba!5e0!3m2!1ses-419!2spe!4v1635354878306!5m2!1ses-419!2spe"
                            width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Services Section -->